.zip
.tar
.venv
__pycache__
data
*.safetensors
.ipynb_checkpoints
.env
.DS_Store
.vscode
.idea
*.log
*.tmp
*.bak
*.swp
*.class
*.obj
*.exe
*.dll
*.so
*.dylib
*.obj
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info
dist
build
.eggs
.pytest_cache
.tox
.coverage
htmlcov
.nox
.pyre
.mypy_cache
.pytype
.pyright
.cache
.pyenv
pip-wheel-metadata
__pypackages__
.envrc
*.pt
.ipynb
*.ckpt